@charset "utf-8";

// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$red: #6d2851;
$orange: #f9a24b;
$blue: #3b9ad5;

@mixin box {
  padding: 25% 10%;

  h1 {
    font-size: 24pt;
  }
  p {
    font-size: 12pt;
    margin-top: 5%;
  }
}

body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: Montserrat, sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

#tsr_body, #error_body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
};

.tsr_bnr {
  height: 100vh;
  background-color: $red;
  grid-column: 3/span 1;
  grid-row: 1/span 1;

  img {
    width: 80%;
    margin: 10% auto;
  }

  p {
    margin: 5% 10%;
    font-size: 14pt;
  }

  a {
    text-decoration: none;

    button {
      background-color: $red;
      border: solid white 3px;
      font-family: Montserrat, sans-serif;
      font-size: 14pt;
      width: 50%;
      margin: 5% 25%;
      padding: 2.5%;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: white;
        color: $red;
      }
    }
    .line {
      background-color: $red;
      border: solid white 3px;
      color: white;
      cursor: pointer;
      display: block;
      float: left;
      font-family: Montserrat, sans-serif;
      font-size: 14pt;
      height: 70px;
      width: 50%;
      margin: 5% 25%;
      padding: 2.5%;
      line-height: 40px;
      overflow: hidden;
      position: relative;
      text-align: center;

      &:hover {
        background-color: white;
        color: $red;
      }
    }

    .line::after {
      content: " ";
      border-top: 3px solid $red;
      position: absolute;
      top: 50%;
      right: 100%;
      left: -150%;
      transition: left 0.5s, right 0.3s;
      opacity: 0;
    }
    .line::before {
      border-right: 3px solid $red;
      border-top: 3px solid $red;
      content: " ";
      height: 10px;
      position: absolute;
      right: 20%;
      top: calc(50% - 5px);
      transform: rotate(45deg) scale(0.2);
      transition: all 0.5s ease 0s;
      width: 10px;
      opacity: 0;
    }

    .line span,
    .line.out span {
      opacity: 1;
      transition: 0.5s;
      transition-delay: 0.1s;
    }
    .line.hide-text span {
      opacity: 0;
    }
    .line.in::after {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    .line.in::before {
      transform: rotate(45deg) scale(1);
      opacity: 1;
    }
    .line.out::before {
      right: -100%;
      transition-delay: 0s;
    }
    .line.out::after {
      left: 100%;
      right: -150%;
      transition: left 0.3s, right 0.3s;
    }
  }
}

.red_cvr {
  height: 375px;
  width: 375px;
  padding: 10% 0;
  min-height: 375px;
  background: transparent;
}

.white_cvr {
  height: 375px;
  width: 375px;
  padding: 10% 0;
  min-height: 375px;
  background: transparent;
}

.rose_cvr {
  height: 375px;
  width: 375px;
  padding: 10% 0;
  min-height: 375px;
  background: transparent;
}

.logo_box {
  display: none;
}

.logo_mbl {
  margin: 0 auto;
  width: 75%;
}

.logo_web {
  display: none;
}

.drp_btn {
  margin: 5% 44%;
}

.drp_box {
  position: relative;
}

#navMobileRed, #navMobileWhite, #navMobileRose {
  height: 25px;
  width: auto;
  color: white;

  #navBars {
    cursor: pointer;
  }

  #navElements {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;

    a {
      display: block;
      line-height: 100px;
      height: 100px;
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-size: 24px;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: white;
      }

    }
  }
}

#navMobileRed {

  #navElements {

    a {
      background-color: $red;

      &:hover {
        color: $red;
      }
    }
  }
}

#navMobileWhite {

  #navElements {

    a {
        background-color: $orange;

      &:hover {
        color: $orange;
      }
    }
  }
}

#navMobileRose {

  #navElements {

    a {
      background-color: $blue;

      &:hover {
        color: $blue;
      }
    }
  }
}

#grid2 {
  display: grid;
  grid-template-columns: repeat(1, 375px);
  grid-template-rows: repeat(7, 375px);
}

#red_pop_box, .red_info_box {
  background-color: $red;
 @include box;
}

#white_pop_box, .white_info_box {
  background-color: $orange;
  @include box;
}

#rose_pop_box, .rose_info_box {
  background-color: $blue;
  @include box;
}

#red_pop_box, #white_pop_box, #rose_pop_box {
  grid-row: 1/span 1;
}

#red_zoom_1, #white_zoom_1, #rose_zoom_1 {
  grid-row: 2/span 1;
}

#red_zoom_1 {
  background-image: url("../images/ddp_label_zoom_1.jpg");
  background-size: cover;
}

#white_zoom_1 {
  background-image: url("../images/ddp_label_zoom_1_white.jpg");
  background-size: cover;
}

#rose_zoom_1 {
  background-image: url("../images/ddp_label_zoom_1_rose.jpg");
  background-size: cover;
}

#red_info_box_1, #white_info_box_1, #rose_info_box_1 {
  grid-row: 3/span 1;
}

#red_zoom_2, #white_zoom_2, #rose_zoom_2 {
  grid-row: 4/span 1;
}

#red_zoom_2 {
  background-image: url("../images/ddp_label_zoom_2.jpg");
  background-size: cover;
}

#white_zoom_2 {
  background-image: url("../images/ddp_label_zoom_2_white.jpg");
  background-size: cover;
}

#rose_zoom_2 {
  background-image: url("../images/ddp_label_zoom_2_rose.jpg");
  background-size: cover;
}

#red_info_box_2, #white_info_box_2, #rose_info_box_2 {
  grid-row: 5/span 1;
}

#red_zoom_3, #white_zoom_3, #rose_zoom_3 {
  grid-row: 6/span 1;
}

#red_zoom_3 {
  background-image: url("../images/ddp_label_zoom_3.jpg");
  background-size: cover;
}

#white_zoom_3 {
  background-image: url("../images/ddp_label_zoom_3_white.jpg");
  background-size: cover;
}

#rose_zoom_3 {
  background-image: url("../images/ddp_label_zoom_3_rose.jpg");
  background-size: cover;
}

#red_info_box_3, #white_info_box_3, #rose_info_box_3 {
  grid-row: 7/span 1;
}

#ftr {
  height: 375px;
  width: 375px;
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40% 20%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;

  a {
    margin: 5%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
  }

  #topRed {
    color: $red;
    cursor: pointer;
  }

  #topWhite {
    color: $orange;
    cursor: pointer;
  }

  #topRose {
    color: $blue;
    cursor: pointer;
  }
}

#error_body {
  background-color: $red;
}

#errorBox {
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 50% 25%;

  h1 {
    text-align: center;
    font-size: 24pt;
    margin: 25% 0;
  }

  p {
    text-align: center;
    margin: 25% 0;
    font-size: 12pt;

    a {
      color: white;
    }
  }

}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  .red_cvr, .white_cvr, .rose_cvr {
    height: 768px;
    width: 768px;
    min-height: 768px;
  }

  #grid2 {
    grid-template-columns: repeat(1, 768px);
    grid-template-rows: repeat(7, 768px);
  }

  .logo_mbl {
    margin: 0 auto;
    width: 75%;
  }

  .drp_btn {
    margin: 10% 47%;
  }

  #navMobileRed, #navMobileWhite, #navMobileRose {
    #navElements {
      a {
        line-height: 110px;
        height: 110px;
        font-size: 32pt;
      }
    }
  }

  #red_pop_box, .red_info_box, #white_pop_box, .white_info_box, #rose_pop_box, .rose_info_box {

    h1 {
      font-size: 40pt;
    }

    h2 {
      font-size: 32pt;
    }

    p {
      font-size: 20pt;
      margin-top: 5%;
    }
  }

  #errorBox {
    padding: 25%;

    h1 {
      font-size: 40pt;
    }

    p {
      font-size: 20pt;
    }
  }

  #ftr {
    height: 768px;
    width: 768px;
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  #tsr_body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  };

  .tsr_bkg {
    background: url("../images/tsr_cvr.jpg"), no-repeat;
    background-size: cover;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }

  .tsr_bnr {
    height: 100vh;
    background-color: $red;
    grid-column: 3/span 1;
    grid-row: 1/span 1;

    img {
      width: 80%;
      margin: 10% auto;
    }

    p {
      margin: 5% 10%;
      font-size: 14pt;
    }

    a {
      text-decoration: none;

      button {
        background-color: $red;
        border: solid white 3px;
        font-family: Montserrat, sans-serif;
        font-size: 14pt;
        width: 50%;
        margin: 5% 25%;
        padding: 2.5%;
        cursor: pointer;
        color: white;

        &:hover {
          background-color: white;
          color: $red;
        }
      }
    }
  }

  .red_cvr, .white_cvr, .rose_cvr {
    padding: 2.5%;
    height: 50vh;
    width: 100vw;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 50vh;
  }

  .logo_mbl {
    display: none;
  }

  .logo_web {
    margin: auto;
    display: inline-block;
  }

  .logo_box {
    margin: 0 0 0 10%;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }

  .drp_btn {
    margin: auto;
  }

  .drp_box {
    margin: 7.5% auto auto auto;
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }

  #navMobileRed, #navMobileWhite, #navMobileRose {
    #navElements {
      margin-left: -125%;
      width: 150px;
      a {
        line-height: 75px;
        height: 75px;
        font-size: 12pt;
      }
    }
  }

  #grid2 {
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    grid-template-rows: repeat(4, 50vh);
  }

  #red_pop_box, #white_pop_box, #rose_pop_box {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    padding: 10%;

    h1 {
      font-size: 24pt;
    }

    p {
      font-size: 16pt;
    }
  }

  .red_info_box, .white_info_box, .rose_info_box {
    padding: 10%;

    h2 {
      font-size: 24pt;
    }

    p {
      font-size: 16pt;
    }
  }

  #red_info_box_1, #white_info_box_1, #rose_info_box_1 {
    grid-column: 2/span 2;
    grid-row: 2/span 1;
  }

  #red_info_box_2, #white_info_box_2, #rose_info_box_2 {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
  }

  #red_info_box_3, #white_info_box_3, #rose_info_box_3 {
    grid-column: 2/span 2;
    grid-row: 4/span 1;
  }

  #red_zoom_1, #white_zoom_1, #rose_zoom_1 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }

  #red_zoom_2, #white_zoom_2, #rose_zoom_2 {
    grid-row: 3/span 1;
    grid-column: 3/span 1;
  }

  #red_zoom_3, #white_zoom_3, #rose_zoom_3 {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
  }

  #ftr {
    width: 100vw;
    height: 50vh;
    padding: 12.5% 25%;
  }

  #errorBox {
    padding: 10%;

    img {
      width: 50%;
      margin: auto;
    }

    h1 {
      font-size: 40pt;
      margin: 10% 0;
    }

    p {
      font-size: 20pt;
      margin: 10% 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  #navMobileRed, #navMobileWhite, #navMobileRose {
    #navElements {
      margin-left: -250%;
      width: 250px;
      a {
        font-size: 12pt;
      }
    }
  }

  #red_pop_box, #white_pop_box, #rose_pop_box {
    padding: 3% 30% 5%;

    h1{
      font-size: 32pt;
    }

    p {
      font-size: 18pt;
    }
  }

  .red_info_box, .white_info_box, .rose_info_box {
    padding: 5% 10%;
    h1{
      font-size: 32pt;
    }

    p {
      font-size: 18pt;
    }
  }

  #ftr {
    padding: 10% 25%;
  }

  #errorBox {
    padding: 5%;

    img {
      width: 25%;
      margin: auto;
    }

    h1 {
      font-size: 40pt;
      margin: 5% 0;
    }

    p {
      font-size: 20pt;
      margin: 5% 0;
    }
  }
}

@media print {
  // Alt der gælder for print specifikt
}