* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

#tsr_body, #error_body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); }

.tsr_bnr {
  height: 100vh;
  background-color: #6d2851;
  grid-column: 3/span 1;
  grid-row: 1/span 1; }
  .tsr_bnr img {
    width: 80%;
    margin: 10% auto; }
  .tsr_bnr p {
    margin: 5% 10%;
    font-size: 14pt; }
  .tsr_bnr a {
    text-decoration: none; }
    .tsr_bnr a button {
      background-color: #6d2851;
      border: solid white 3px;
      font-family: Montserrat, sans-serif;
      font-size: 14pt;
      width: 50%;
      margin: 5% 25%;
      padding: 2.5%;
      cursor: pointer;
      color: white; }
      .tsr_bnr a button:hover {
        background-color: white;
        color: #6d2851; }
      .tsr_bnr a button .line {
        background-color: #6d2851;
        border: solid white 3px;
        color: white;
        cursor: pointer;
        display: block;
        float: left;
        font-family: Montserrat, sans-serif;
        font-size: 14pt;
        height: 70px;
        width: 50%;
        margin: 5% 25%;
        padding: 2.5%;
        line-height: 40px;
        overflow: hidden;
        position: relative;
        text-align: center; }
        .tsr_bnr a button .line:hover {
          background-color: white;
          color: #6d2851; }
      .tsr_bnr a button .line::after {
        content: " ";
        border-top: 3px solid #6d2851;
        position: absolute;
        top: 50%;
        right: 100%;
        left: -150%;
        transition: left 0.5s, right 0.3s;
        opacity: 0; }
      .tsr_bnr a button .line::before {
        border-right: 3px solid #6d2851;
        border-top: 3px solid #6d2851;
        content: " ";
        height: 10px;
        position: absolute;
        right: 20%;
        top: calc(50% - 5px);
        transform: rotate(45deg) scale(0.2);
        transition: all 0.5s ease 0s;
        width: 10px;
        opacity: 0; }
      .tsr_bnr a button .line span,
      .tsr_bnr a button .line.out span {
        opacity: 1;
        transition: 0.5s;
        transition-delay: 0.1s; }
      .tsr_bnr a button .line.hide-text span {
        opacity: 0; }
      .tsr_bnr a button .line.in::after {
        left: 20%;
        right: 20%;
        opacity: 1; }
      .tsr_bnr a button .line.in::before {
        transform: rotate(45deg) scale(1);
        opacity: 1; }
      .tsr_bnr a button .line.out::before {
        right: -100%;
        transition-delay: 0s; }
      .tsr_bnr a button .line.out::after {
        left: 100%;
        right: -150%;
        transition: left 0.3s, right 0.3s; }

.red_cvr {
  height: 375px;
  width: 375px;
  padding: 10% 0;
  min-height: 375px;
  background: transparent; }

.white_cvr {
  height: 375px;
  width: 375px;
  padding: 10% 0;
  min-height: 375px;
  background: transparent; }

.rose_cvr {
  height: 375px;
  width: 375px;
  padding: 10% 0;
  min-height: 375px;
  background: transparent; }

.logo_box {
  display: none; }

.logo_mbl {
  margin: 0 auto;
  width: 75%; }

.logo_web {
  display: none; }

.drp_btn {
  margin: 5% 44%; }

.drp_box {
  position: relative; }

#navMobileRed, #navMobileWhite, #navMobileRose {
  height: 25px;
  width: auto;
  color: white; }
  #navMobileRed #navBars, #navMobileWhite #navBars, #navMobileRose #navBars {
    cursor: pointer; }
  #navMobileRed #navElements, #navMobileWhite #navElements, #navMobileRose #navElements {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100; }
    #navMobileRed #navElements a, #navMobileWhite #navElements a, #navMobileRose #navElements a {
      display: block;
      line-height: 100px;
      height: 100px;
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-size: 24px;
      color: white; }
      #navMobileRed #navElements a:hover, #navMobileWhite #navElements a:hover, #navMobileRose #navElements a:hover {
        cursor: pointer;
        background-color: white; }

#navMobileRed #navElements a {
  background-color: #6d2851; }
  #navMobileRed #navElements a:hover {
    color: #6d2851; }

#navMobileWhite #navElements a {
  background-color: #f9a24b; }
  #navMobileWhite #navElements a:hover {
    color: #f9a24b; }

#navMobileRose #navElements a {
  background-color: #3b9ad5; }
  #navMobileRose #navElements a:hover {
    color: #3b9ad5; }

#grid2 {
  display: grid;
  grid-template-columns: repeat(1, 375px);
  grid-template-rows: repeat(7, 375px); }

#red_pop_box, .red_info_box {
  background-color: #6d2851;
  padding: 25% 10%; }
  #red_pop_box h1, .red_info_box h1 {
    font-size: 24pt; }
  #red_pop_box p, .red_info_box p {
    font-size: 12pt;
    margin-top: 5%; }

#white_pop_box, .white_info_box {
  background-color: #f9a24b;
  padding: 25% 10%; }
  #white_pop_box h1, .white_info_box h1 {
    font-size: 24pt; }
  #white_pop_box p, .white_info_box p {
    font-size: 12pt;
    margin-top: 5%; }

#rose_pop_box, .rose_info_box {
  background-color: #3b9ad5;
  padding: 25% 10%; }
  #rose_pop_box h1, .rose_info_box h1 {
    font-size: 24pt; }
  #rose_pop_box p, .rose_info_box p {
    font-size: 12pt;
    margin-top: 5%; }

#red_pop_box, #white_pop_box, #rose_pop_box {
  grid-row: 1/span 1; }

#red_zoom_1, #white_zoom_1, #rose_zoom_1 {
  grid-row: 2/span 1; }

#red_zoom_1 {
  background-image: url("../images/ddp_label_zoom_1.jpg");
  background-size: cover; }

#white_zoom_1 {
  background-image: url("../images/ddp_label_zoom_1_white.jpg");
  background-size: cover; }

#rose_zoom_1 {
  background-image: url("../images/ddp_label_zoom_1_rose.jpg");
  background-size: cover; }

#red_info_box_1, #white_info_box_1, #rose_info_box_1 {
  grid-row: 3/span 1; }

#red_zoom_2, #white_zoom_2, #rose_zoom_2 {
  grid-row: 4/span 1; }

#red_zoom_2 {
  background-image: url("../images/ddp_label_zoom_2.jpg");
  background-size: cover; }

#white_zoom_2 {
  background-image: url("../images/ddp_label_zoom_2_white.jpg");
  background-size: cover; }

#rose_zoom_2 {
  background-image: url("../images/ddp_label_zoom_2_rose.jpg");
  background-size: cover; }

#red_info_box_2, #white_info_box_2, #rose_info_box_2 {
  grid-row: 5/span 1; }

#red_zoom_3, #white_zoom_3, #rose_zoom_3 {
  grid-row: 6/span 1; }

#red_zoom_3 {
  background-image: url("../images/ddp_label_zoom_3.jpg");
  background-size: cover; }

#white_zoom_3 {
  background-image: url("../images/ddp_label_zoom_3_white.jpg");
  background-size: cover; }

#rose_zoom_3 {
  background-image: url("../images/ddp_label_zoom_3_rose.jpg");
  background-size: cover; }

#red_info_box_3, #white_info_box_3, #rose_info_box_3 {
  grid-row: 7/span 1; }

#ftr {
  height: 375px;
  width: 375px;
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40% 20%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly; }
  #ftr a {
    margin: 5%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white; }
  #ftr #topRed {
    color: #6d2851;
    cursor: pointer; }
  #ftr #topWhite {
    color: #f9a24b;
    cursor: pointer; }
  #ftr #topRose {
    color: #3b9ad5;
    cursor: pointer; }

#errorBox {
  background-color: #6d2851;
  width: 100vw;
  height: 100vh;
  padding: 50% 25%; }
  #errorBox h1 {
    text-align: center;
    font-size: 24pt;
    margin: 25% 0; }
  #errorBox p {
    text-align: center;
    margin: 25% 0;
    font-size: 12pt; }
    #errorBox p a {
      color: white; }

@media screen and (min-width: 768px) {
  .red_cvr, .white_cvr, .rose_cvr {
    height: 768px;
    width: 768px;
    min-height: 768px; }

  #grid2 {
    grid-template-columns: repeat(1, 768px);
    grid-template-rows: repeat(7, 768px); }

  .logo_mbl {
    margin: 0 auto;
    width: 75%; }

  .drp_btn {
    margin: 10% 47%; }

  #navMobileRed #navElements a, #navMobileWhite #navElements a, #navMobileRose #navElements a {
    line-height: 110px;
    height: 110px;
    font-size: 32pt; }

  #red_pop_box h1, .red_info_box h1, #white_pop_box h1, .white_info_box h1, #rose_pop_box h1, .rose_info_box h1 {
    font-size: 40pt; }
  #red_pop_box h2, .red_info_box h2, #white_pop_box h2, .white_info_box h2, #rose_pop_box h2, .rose_info_box h2 {
    font-size: 32pt; }
  #red_pop_box p, .red_info_box p, #white_pop_box p, .white_info_box p, #rose_pop_box p, .rose_info_box p {
    font-size: 20pt;
    margin-top: 5%; }

  #errorBox {
    padding: 25%; }
    #errorBox h1 {
      font-size: 40pt; }
    #errorBox p {
      font-size: 20pt; }

  #ftr {
    height: 768px;
    width: 768px;
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover; } }
@media screen and (min-width: 992px) {
  #tsr_body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); }

  .tsr_bkg {
    background: url("../images/tsr_cvr.jpg"), no-repeat;
    background-size: cover;
    grid-column: 1/span 2;
    grid-row: 1/span 1; }

  .tsr_bnr {
    height: 100vh;
    background-color: #6d2851;
    grid-column: 3/span 1;
    grid-row: 1/span 1; }
    .tsr_bnr img {
      width: 80%;
      margin: 10% auto; }
    .tsr_bnr p {
      margin: 5% 10%;
      font-size: 14pt; }
    .tsr_bnr a {
      text-decoration: none; }
      .tsr_bnr a button {
        background-color: #6d2851;
        border: solid white 3px;
        font-family: Montserrat, sans-serif;
        font-size: 14pt;
        width: 50%;
        margin: 5% 25%;
        padding: 2.5%;
        cursor: pointer;
        color: white; }
        .tsr_bnr a button:hover {
          background-color: white;
          color: #6d2851; }

  .red_cvr, .white_cvr, .rose_cvr {
    padding: 2.5%;
    height: 50vh;
    width: 100vw;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 50vh; }

  .logo_mbl {
    display: none; }

  .logo_web {
    margin: auto;
    display: inline-block; }

  .logo_box {
    margin: 0 0 0 10%;
    grid-column: 1/span 1;
    grid-row: 1/span 1; }

  .drp_btn {
    margin: auto; }

  .drp_box {
    margin: 7.5% auto auto auto;
    grid-column: 3/span 1;
    grid-row: 1/span 1; }

  #navMobileRed #navElements, #navMobileWhite #navElements, #navMobileRose #navElements {
    margin-left: -125%;
    width: 150px; }
    #navMobileRed #navElements a, #navMobileWhite #navElements a, #navMobileRose #navElements a {
      line-height: 75px;
      height: 75px;
      font-size: 12pt; }

  #grid2 {
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    grid-template-rows: repeat(4, 50vh); }

  #red_pop_box, #white_pop_box, #rose_pop_box {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    padding: 10%; }
    #red_pop_box h1, #white_pop_box h1, #rose_pop_box h1 {
      font-size: 24pt; }
    #red_pop_box p, #white_pop_box p, #rose_pop_box p {
      font-size: 16pt; }

  .red_info_box, .white_info_box, .rose_info_box {
    padding: 10%; }
    .red_info_box h2, .white_info_box h2, .rose_info_box h2 {
      font-size: 24pt; }
    .red_info_box p, .white_info_box p, .rose_info_box p {
      font-size: 16pt; }

  #red_info_box_1, #white_info_box_1, #rose_info_box_1 {
    grid-column: 2/span 2;
    grid-row: 2/span 1; }

  #red_info_box_2, #white_info_box_2, #rose_info_box_2 {
    grid-column: 1/span 2;
    grid-row: 3/span 1; }

  #red_info_box_3, #white_info_box_3, #rose_info_box_3 {
    grid-column: 2/span 2;
    grid-row: 4/span 1; }

  #red_zoom_1, #white_zoom_1, #rose_zoom_1 {
    grid-column: 1/span 1;
    grid-row: 2/span 1; }

  #red_zoom_2, #white_zoom_2, #rose_zoom_2 {
    grid-row: 3/span 1;
    grid-column: 3/span 1; }

  #red_zoom_3, #white_zoom_3, #rose_zoom_3 {
    grid-row: 4/span 1;
    grid-column: 1/span 1; }

  #ftr {
    width: 100vw;
    height: 50vh;
    padding: 12.5% 25%; }

  #errorBox {
    padding: 10%; }
    #errorBox img {
      width: 50%;
      margin: auto; }
    #errorBox h1 {
      font-size: 40pt;
      margin: 10% 0; }
    #errorBox p {
      font-size: 20pt;
      margin: 10% 0; } }
@media screen and (min-width: 1200px) {
  #navMobileRed #navElements, #navMobileWhite #navElements, #navMobileRose #navElements {
    margin-left: -250%;
    width: 250px; }
    #navMobileRed #navElements a, #navMobileWhite #navElements a, #navMobileRose #navElements a {
      font-size: 12pt; }

  #red_pop_box, #white_pop_box, #rose_pop_box {
    padding: 3% 30% 5%; }
    #red_pop_box h1, #white_pop_box h1, #rose_pop_box h1 {
      font-size: 32pt; }
    #red_pop_box p, #white_pop_box p, #rose_pop_box p {
      font-size: 18pt; }

  .red_info_box, .white_info_box, .rose_info_box {
    padding: 5% 10%; }
    .red_info_box h1, .white_info_box h1, .rose_info_box h1 {
      font-size: 32pt; }
    .red_info_box p, .white_info_box p, .rose_info_box p {
      font-size: 18pt; }

  #ftr {
    padding: 10% 25%; }

  #errorBox {
    padding: 5%; }
    #errorBox img {
      width: 25%;
      margin: auto; }
    #errorBox h1 {
      font-size: 40pt;
      margin: 5% 0; }
    #errorBox p {
      font-size: 20pt;
      margin: 5% 0; } }

/*# sourceMappingURL=ddp.css.map */
